html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader {
  position: relative;
  width: 100px;
  height: 100px;
  animation: rotate 0.8s ease-in-out infinite;
  border: 5px solid #000000;
}

#loader:after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  background-color: #20ada6;
  height: 100%;
  width: 100%;
  transform: scale(0);
  animation: scale 0.8s ease-in-out infinite forwards alternate;
}

#loader:before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  background-color: #34d2ca;
  height: 100%;
  width: 100%;
  transform: scale(0);
  animation: scale 1s ease-in-out infinite forwards alternate;
  animation-delay: 0.4s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
