html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7737e;
  font-family: 'Roboto Mono', monospace;
}

.Calculator {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  width: 400px;

  &__row {
    display: flex;
    flex-direction: row-reverse;

    &__input {
      border: none;
      text-align: right;
      font-size: 3em;
      padding: 30px 30px 10px 30px;
      width: 100%;
      color: #a6a5a9;
      outline: none;

      &::placeholder {
        color: #a6a5a9;
      }
    }

    &__button {
      font-size: 1.5em;
      background: none;
      border: none;
      height: 100px;
      width: 100px;
      color: #a6a5a9;
      transition: background-color 0.2s ease-in-out;
      outline: none;

      &:hover {
        background-color: darken(#ffffff, 3%);
      }

      &--add,
      &--subtract,
      &--divide,
      &--equals,
      &--multiply {
        color: #f7737e;
      }

      &--clear,
      &--invert,
      &--percent {
        color: #cacacf;
      }
    }
  }
}
