/* Global */

body {
  margin: 0;
  font-family: Arial;
  font-size: 20px;
}

.App {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */

.Card {
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Card h1,
.Card h2 {
  margin-top: 0;
}

.Card h1 {
  margin-bottom: 5px;
}

.Card p {
  margin-bottom: 0;
}

/* Skeleton */

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

.Skeleton {
  background: linear-gradient(-90deg, #dddddd 0%, #f5f5f5 50%, #dddddd 100%);
  animation: pulse 1.2s ease-in-out infinite;
  background-size: 400% 400%;
  width: 100%;
}

.Skeleton--row {
  display: block;
  border-radius: 4px;
}

.Skeleton--row::before {
  content: '\00a0';
}
