html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7df73;
  font-family: 'Roboto Mono', monospace;
  flex-direction: column;
}

.Board {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;

  &__square {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin: 10px;
    font-size: 4em;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0 0 0 2px black inset;
    }

    &:disabled {
      color: black;
    }
  }
}
